<div class="container my-5">
  <h1>Welcome To Products Analytics</h1>
  <table class="table table-hover table-sm table-striped">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Product Name</th>
        <th class="text-center">Prduct Image</th>
        <th class="text-center">Price</th>
        <th class="text-center">Status</th>
        <th class="text-center">Status Summary</th>
        <th class="text-center">Company Name</th>
        <th colspan="4" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of productArray; let i=index">
        <th class="text-center">{{i+1}}</th>
        <td class="text-center">{{data.productName}}</td>
        <td class="text-center"><img [src]="Url+data.imageDetaisl[0].ImageUrl" [alt]="data.productName"
            class="rounded-circle"></td>
        <td class="text-center">{{data.price}}</td>
        <td class="text-center" [ngClass]="data.status === 1 ? 'text-primary' : 'text-danger'">{{data.status}}</td>
        <td class="text-center" [ngClass]="data.status === 1 ? 'text-primary' : 'text-danger'">{{data.status === 1 ? 'In
          Stock':'Out of Stock'}}</td>
        <td class="text-center">{{data.companyName}}</td>
        <td class="text-center"><i class="fas fa-eye text-info" data-bs-toggle="modal" data-bs-target="#exampleModal"
            (click)="getParticularData(data._id)"></i></td>
        <td class="text-center"><i class="fas fa-pencil-alt" data-bs-toggle="modal" data-bs-target="#exampleModal1"
            (click)="getParticularData(data._id)"></i></td>
        <td class="text-center"><button class="btn btn-outline-danger" (click)="deleteProduct(data._id)">delete</button>
        </td>
        <td class="text-center"><button class="btn btn-outline-danger" (click)="hardDeleteProduct(data._id)">Hard
            Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{particularProductData?.productName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col" *ngFor="let data of particularProductData?.imageDetaisl">
              <img [src]="Url+data.ImageUrl" class="img-fluid w-50 h-50" [alt]="data.productName">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Product Details
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ol class="list-group list-group-numbered">
                    <li class="list-group-item">{{particularProductData?.companyName}}</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>








<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <form [formGroup]="updateProductForm" (ngSubmit)="Update()">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ProductName</label>
            <input type="text" class="form-control" formControlName="productName">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Quantity</label>
            <input type="number" class="form-control" formControlName="quantity">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Price</label>
            <input type="number" class="form-control" formControlName="price">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Company Name</label>
            <input type="text" class="form-control" formControlName="companyName">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Color</label>
            <input type="text" class="form-control" formControlName="color">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>